@import '../../../partials/colors';
@import '../../../partials/fonts';
@import '../../../partials/mixins';

.about-hero {
  display: flex;
  background: $standard-bg-color;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  padding:0 2em 0 8em;

  &-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height:50vh;
  }

  &-header{
    margin:0;
    font-size:53px;
    color:$primary-CTA-color;
    font-weight:900;
  }

  &-important{
    color:$secondary-color;
  }

  &-text{
    margin:0;
    font-size:20px;
    margin:0.5em 0;
    line-height:2rem;
  }

  &-right{
    width: 60%;
    display:flex;
    justify-content: space-evenly;
    
    .coupled-images {
      @include flex-column;
    }

    img{
      border-radius: 15px;
      margin: 8px;
      width: 150px;
      
       &:hover {
        opacity: 0.8;
      }
    }
  }
}
 
