@import '../../../partials/colors';
@import '../../../partials/fonts';
@import '../../../partials/mixins';

.movieDetail{
    display: flex;
    flex-direction: column;
}
.movies-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card2 .card-top{
    background-image: url(../../../assets/Images/poster1.jpg);
}
.card3 .card-top{
    background-image: url(../../../assets/Images/poster2.jpg);
}
.card4 .card-top{
    background-image: url(../../../assets/Images/poster3.jpg);
}
.card5 .card-top{
    background-image: url(../../../assets/Images/poster4.jpg);
}
.card6 .card-top{
    background-image: url(../../../assets/Images/poster5.jpg);
}
