@font-face {
    font-family: 'Avenir Next';
    src:url('../assets/Font/AvenirNextProLT/AvenirNextLTPro-Medium.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Avenir Next Demi Bold';
    src:url('../assets/Font/AvenirNextProLT/AvenirNextLTPro-Demi.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir Next Bold';
    src:url('../assets/Font/AvenirNextProLT/AvenirNextLTPro-Bold.otf');
    font-weight: 900;
}

@font-face {
    font-family: 'Raleway';
    src:url('../assets/Font/raleway/Raleway-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Raleway demi bold';
    src:url('../assets/Font/raleway/Raleway-Medium.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Raleway extra bold';
    src:url('../assets/Font/raleway/Raleway-Bold.ttf');
    font-weight: 900;
}

$global-font: "Raleway",Helvetica, sans-serif;
$global-font__demi-bold: "Raleway demi bold",Helvetica, sans-serif;
$global-font__bold: "Raleway extra bold",Helvetica, sans-serif
