@import '../../../partials/colors';
@import '../../../partials/fonts';
@import '../../../partials/mixins';


.homehero {
  display: flex;
  height: 100vh;
  background: $standard-bg-color;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  padding:0 2em 0 8em;

&-left{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height:50vh;

  
}
&-header{
  margin:0;
  font-size:53px;
  color:$primary-CTA-color;
  font-weight:900;
}
&-important{
  color:$secondary-color;
}
&-text{
  margin:0;
  font-size:20px;
  margin:0.5em 0;
  line-height:2rem;
}
&-right{
  width: 60%;
  display:flex;
  justify-content: space-between;
  img{
    width: 100%;
  }
}

&-button{
  border:none;
  font-weight: 700;
  background-color: $secondary-color;
  color:white;
  padding:15px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0.3px #f7bf7ba6;
}
}
