@import '../../partials/colors';
@import '../../partials/fonts';
@import '../../partials/mixins';

.nav-bar {
  @include flex-column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $standard-bg-color;
  width: 100%;
  height: 169px;
  top: 0;
  z-index: 1;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
  }

  &__anchor {
    text-decoration: none;
  }
  
  &__logo {
    @include flex-center;
  }

  &__logo-text {
    text-decoration: none;
    @include h1-text-style;
    color: yellow;

    @include tablet {
      @include tablet-h1-text;
    }
  }

  &__main {
    height: 121px;
    @include flex-center;

    @include tablet {
        height: 100%;
    }
  }

  &__list {
    list-style-type: none;
    @include flex-column;
    justify-content: space-evenly;
    padding: 0px; 
    margin: 0px;
    
    @include tablet {
        flex-direction: row;
        justify-content: center;
    }

    &-item {  
        @include flex-center;
        margin: 4px 0px;

        @include tablet {
        justify-content: space-around;
        margin: 0px 12px;
        }
    }

  }

  &__search {
    border: 2px solid $border-color;
    max-width: 252px;
    border-radius: 4px;
    font-size: 16px;
    background-color: $field-color;
    background-image: url('../../assets/Icons/SVG/Icon-search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    cursor: pointer;

    &:hover, &:focus {
        border: 2px solid $primary-CTA-color;
    }
  }

  .login-button__link {
    width: 100%;
  }

  .login-button {
    width: 100%;
    height: 48px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    padding: 15px 5px;
    font-size: 13px;
    background-color: $primary-CTA-color;
    background-position: 25% 50%; 
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        background-color: $CTA-hover-color;
    }

    @include tablet {
        width: 103px;
        background-position: 7.5% 50%; 
    }
  }
}