@import '../../partials/colors';
@import '../../partials/fonts';
@import '../../partials/mixins';

a{
  text-decoration: none;
  color:$font-color;
}
a:hover{
  color:$secondary-color;
}

.nav-bar {
  font-weight: 700;
  @include flex-column;
  justify-content: space-between;
  align-items: center;
  background-color: $standard-bg-color;
  // width: 100%;
  height: 169px;
  top: 0;
  z-index: 1;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding:0 8em;
    height: 80px;
  }

  &__anchor {
    text-decoration: none;
  }
  
  &__logo {
    @include flex-center;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__logo-text {
    text-decoration: none;
    @include h1-text-style;

    color: $secondary-color;


    @include tablet {
      @include tablet-h1-text;
      font-weight: 900;
    }
  }

  &__main {
    height: 121px;
    @include flex-center;

    @include tablet {
        height: 100%;
    }
  }

  &__list {
    list-style-type: none;
    @include flex-column;
    justify-content: space-evenly;
    padding: 0px; 
    margin: 0px;
    
    @include tablet {
        flex-direction: row;
        justify-content: center;
    }

    &-item {  
        @include flex-center;
        margin: 4px 0px;
    transition: transform 0.2s;

        @include tablet {
        justify-content: space-around;
        margin: 0px 20px;
        }
        &:hover {
          transform: scale(1.1);
        }
    }

  }

  .login-button__link {
    width: 100%;
  }

  .login-button {
    // width: 100%;
    // height: 48px;
    // color: #FFFFFF;
    text-transform: uppercase;
    // border: none;
    // border-radius: 4px;
    // padding: 15px 5px;
    // font-size: 13px;
    background-color: $primary-CTA-color;
    // background-position: 25% 50%; 
    // background-repeat: no-repeat;
    cursor: pointer;
    border:none;
    font-weight: 700;
    background-color: $primary-CTA-color;
    color:white;
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0.3px #3747773f;

    &:hover {
        background-color: $CTA-hover-color;
    }

    @include tablet {
        width: 103px;
        background-position: 7.5% 50%; 
    }
  }
}